<a href="https://colab.research.google.com/github/mahesh4215/Leetcode-Pandas/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv("/content/sample_data/Pandas_series/countries of the world.csv")
print(df.to_string(index=False))

                          Country                              Region
                     Afghanistan        ASIA (EX. NEAR EAST)
                         Albania  EASTERN EUROPE
                         Algeria  NORTHERN AFRICA
                  American Samoa  OCEANIA
                         Andorra  WESTERN EUROPE
                          Angola  SUB-SAHARAN AFRICA
                        Anguilla              LATIN AMER. & CARIB
               Antigua & Barbuda              LATIN AMER. & CARIB
                       Argentina              LATIN AMER. & CARIB
                         Armenia                 C.W. OF IND. STATES
                           Aruba              LATIN AMER. & CARIB
                       Australia  OCEANIA
                         Austria  WESTERN EUROPE
                      Azerbaijan                 C.W. OF IND. STATES
                    Bahamas, The              LATIN AMER. & CARIB
                         Bahrain  NEAR EAST
                      Bangladesh        ASIA (EX. NEAR EAST)
                        Barbados              LATIN AMER. & CARIB
                         Belarus                 C.W. OF IND. STATES
                         Belgium  WESTERN EUROPE
                          Belize              LATIN AMER. & CARIB
                           Benin  SUB-SAHARAN AFRICA
                         Bermuda  NORTHERN AMERICA
                          Bhutan        ASIA (EX. NEAR EAST)
                         Bolivia              LATIN AMER. & CARIB
            Bosnia & Herzegovina  EASTERN EUROPE
                        Botswana  SUB-SAHARAN AFRICA
                          Brazil              LATIN AMER. & CARIB
              British Virgin Is.              LATIN AMER. & CARIB
                          Brunei        ASIA (EX. NEAR EAST)
                        Bulgaria  EASTERN EUROPE
                    Burkina Faso  SUB-SAHARAN AFRICA
                           Burma        ASIA (EX. NEAR EAST)
                         Burundi  SUB-SAHARAN AFRICA
                        Cambodia        ASIA (EX. NEAR EAST)
                        Cameroon  SUB-SAHARAN AFRICA
                          Canada  NORTHERN AMERICA
                      Cape Verde  SUB-SAHARAN AFRICA
                  Cayman Islands              LATIN AMER. & CARIB
            Central African Rep.  SUB-SAHARAN AFRICA
                            Chad  SUB-SAHARAN AFRICA
                           Chile              LATIN AMER. & CARIB
                           China        ASIA (EX. NEAR EAST)
                        Colombia              LATIN AMER. & CARIB
                         Comoros  SUB-SAHARAN AFRICA
                Congo, Dem. Rep.  SUB-SAHARAN AFRICA
            Congo, Repub. of the  SUB-SAHARAN AFRICA
                    Cook Islands  OCEANIA
                      Costa Rica              LATIN AMER. & CARIB
                   Cote d'Ivoire  SUB-SAHARAN AFRICA
                         Croatia  EASTERN EUROPE
                            Cuba              LATIN AMER. & CARIB
                          Cyprus  NEAR EAST
                  Czech Republic  EASTERN EUROPE
                         Denmark  WESTERN EUROPE
                        Djibouti  SUB-SAHARAN AFRICA
                        Dominica              LATIN AMER. & CARIB
              Dominican Republic              LATIN AMER. & CARIB
                      East Timor        ASIA (EX. NEAR EAST)
                         Ecuador              LATIN AMER. & CARIB
                           Egypt  NORTHERN AFRICA
                     El Salvador              LATIN AMER. & CARIB
               Equatorial Guinea  SUB-SAHARAN AFRICA
                         Eritrea  SUB-SAHARAN AFRICA
                         Estonia  BALTICS
                        Ethiopia  SUB-SAHARAN AFRICA
                   Faroe Islands  WESTERN EUROPE
                            Fiji  OCEANIA
                         Finland  WESTERN EUROPE
                          France  WESTERN EUROPE
                   French Guiana              LATIN AMER. & CARIB
                French Polynesia  OCEANIA
                           Gabon  SUB-SAHARAN AFRICA
                     Gambia, The  SUB-SAHARAN AFRICA
                      Gaza Strip  NEAR EAST
                         Georgia                 C.W. OF IND. STATES
                         Germany  WESTERN EUROPE
                           Ghana  SUB-SAHARAN AFRICA
                       Gibraltar  WESTERN EUROPE
                          Greece  WESTERN EUROPE
                       Greenland  NORTHERN AMERICA
                         Grenada              LATIN AMER. & CARIB
                      Guadeloupe              LATIN AMER. & CARIB
                            Guam  OCEANIA
                       Guatemala              LATIN AMER. & CARIB
                        Guernsey  WESTERN EUROPE
                          Guinea  SUB-SAHARAN AFRICA
                   Guinea-Bissau  SUB-SAHARAN AFRICA
                          Guyana              LATIN AMER. & CARIB
                           Haiti              LATIN AMER. & CARIB
                        Honduras              LATIN AMER. & CARIB
                       Hong Kong        ASIA (EX. NEAR EAST)
                         Hungary  EASTERN EUROPE
                         Iceland  WESTERN EUROPE
                           India        ASIA (EX. NEAR EAST)
                       Indonesia        ASIA (EX. NEAR EAST)
                            Iran        ASIA (EX. NEAR EAST)
                            Iraq  NEAR EAST
                         Ireland  WESTERN EUROPE
                     Isle of Man  WESTERN EUROPE
                          Israel  NEAR EAST
                           Italy  WESTERN EUROPE
                         Jamaica              LATIN AMER. & CARIB
                           Japan        ASIA (EX. NEAR EAST)
                          Jersey  WESTERN EUROPE
                          Jordan  NEAR EAST
                      Kazakhstan                 C.W. OF IND. STATES
                           Kenya  SUB-SAHARAN AFRICA
                        Kiribati  OCEANIA
                    Korea, North        ASIA (EX. NEAR EAST)
                    Korea, South        ASIA (EX. NEAR EAST)
                          Kuwait  NEAR EAST
                      Kyrgyzstan                 C.W. OF IND. STATES
                            Laos        ASIA (EX. NEAR EAST)
                          Latvia  BALTICS
                         Lebanon  NEAR EAST
                         Lesotho  SUB-SAHARAN AFRICA
                         Liberia  SUB-SAHARAN AFRICA
                           Libya  NORTHERN AFRICA
                   Liechtenstein  WESTERN EUROPE
                       Lithuania  BALTICS
                      Luxembourg  WESTERN EUROPE
                           Macau        ASIA (EX. NEAR EAST)
                       Macedonia  EASTERN EUROPE
                      Madagascar  SUB-SAHARAN AFRICA
                          Malawi  SUB-SAHARAN AFRICA
                        Malaysia        ASIA (EX. NEAR EAST)
                        Maldives        ASIA (EX. NEAR EAST)
                            Mali  SUB-SAHARAN AFRICA
                           Malta  WESTERN EUROPE
                Marshall Islands  OCEANIA
                      Martinique              LATIN AMER. & CARIB
                      Mauritania  SUB-SAHARAN AFRICA
                       Mauritius  SUB-SAHARAN AFRICA
                         Mayotte  SUB-SAHARAN AFRICA
                          Mexico              LATIN AMER. & CARIB
            Micronesia, Fed. St.  OCEANIA
                         Moldova                 C.W. OF IND. STATES
                          Monaco  WESTERN EUROPE
                        Mongolia        ASIA (EX. NEAR EAST)
                      Montserrat              LATIN AMER. & CARIB
                         Morocco  NORTHERN AFRICA
                      Mozambique  SUB-SAHARAN AFRICA
                         Namibia  SUB-SAHARAN AFRICA
                           Nauru  OCEANIA
                           Nepal        ASIA (EX. NEAR EAST)
                     Netherlands  WESTERN EUROPE
            Netherlands Antilles              LATIN AMER. & CARIB
                   New Caledonia  OCEANIA
                     New Zealand  OCEANIA
                       Nicaragua              LATIN AMER. & CARIB
                           Niger  SUB-SAHARAN AFRICA
                         Nigeria  SUB-SAHARAN AFRICA
              N. Mariana Islands  OCEANIA
                          Norway  WESTERN EUROPE
                            Oman  NEAR EAST
                        Pakistan        ASIA (EX. NEAR EAST)
                           Palau  OCEANIA
                          Panama              LATIN AMER. & CARIB
                Papua New Guinea  OCEANIA
                        Paraguay              LATIN AMER. & CARIB
                            Peru              LATIN AMER. & CARIB
                     Philippines        ASIA (EX. NEAR EAST)
                          Poland  EASTERN EUROPE
                        Portugal  WESTERN EUROPE
                     Puerto Rico              LATIN AMER. & CARIB
                           Qatar  NEAR EAST
                         Reunion  SUB-SAHARAN AFRICA
                         Romania  EASTERN EUROPE
                          Russia                 C.W. OF IND. STATES
                          Rwanda  SUB-SAHARAN AFRICA
                    Saint Helena  SUB-SAHARAN AFRICA
             Saint Kitts & Nevis              LATIN AMER. & CARIB
                     Saint Lucia              LATIN AMER. & CARIB
            St Pierre & Miquelon  NORTHERN AMERICA
Saint Vincent and the Grenadines              LATIN AMER. & CARIB
                           Samoa  OCEANIA
                      San Marino  WESTERN EUROPE
             Sao Tome & Principe  SUB-SAHARAN AFRICA
                    Saudi Arabia  NEAR EAST
                         Senegal  SUB-SAHARAN AFRICA
                          Serbia  EASTERN EUROPE
                      Seychelles  SUB-SAHARAN AFRICA
                    Sierra Leone  SUB-SAHARAN AFRICA
                       Singapore        ASIA (EX. NEAR EAST)
                        Slovakia  EASTERN EUROPE
                        Slovenia  EASTERN EUROPE
                 Solomon Islands  OCEANIA
                         Somalia  SUB-SAHARAN AFRICA
                    South Africa  SUB-SAHARAN AFRICA
                           Spain  WESTERN EUROPE
                       Sri Lanka        ASIA (EX. NEAR EAST)
                           Sudan  SUB-SAHARAN AFRICA
                        Suriname              LATIN AMER. & CARIB
                       Swaziland  SUB-SAHARAN AFRICA
                          Sweden  WESTERN EUROPE
                     Switzerland  WESTERN EUROPE
                           Syria  NEAR EAST
                          Taiwan        ASIA (EX. NEAR EAST)
                      Tajikistan                 C.W. OF IND. STATES
                        Tanzania  SUB-SAHARAN AFRICA
                        Thailand        ASIA (EX. NEAR EAST)
                            Togo  SUB-SAHARAN AFRICA
                           Tonga  OCEANIA
               Trinidad & Tobago              LATIN AMER. & CARIB
                         Tunisia  NORTHERN AFRICA
                          Turkey  NEAR EAST
                    Turkmenistan                 C.W. OF IND. STATES
               Turks & Caicos Is              LATIN AMER. & CARIB
                          Tuvalu  OCEANIA
                          Uganda  SUB-SAHARAN AFRICA
                         Ukraine                 C.W. OF IND. STATES
            United Arab Emirates  NEAR EAST
                  United Kingdom  WESTERN EUROPE
                   United States  NORTHERN AMERICA
                         Uruguay              LATIN AMER. & CARIB
                      Uzbekistan                 C.W. OF IND. STATES
                         Vanuatu  OCEANIA
                       Venezuela              LATIN AMER. & CARIB
                         Vietnam        ASIA (EX. NEAR EAST)
                  Virgin Islands              LATIN AMER. & CARIB
               Wallis and Futuna  OCEANIA
                       West Bank  NEAR EAST
                  Western Sahara  NORTHERN AFRICA
                           Yemen  NEAR EAST
                          Zambia  SUB-SAHARAN AFRICA
                        Zimbabwe  SUB-SAHARAN AFRICA

In [ ]:
print(df.head()) # to show top 5 values

           Country                               Region
0     Afghanistan         ASIA (EX. NEAR EAST)
1         Albania   EASTERN EUROPE
2         Algeria   NORTHERN AFRICA
3  American Samoa   OCEANIA
4         Andorra   WESTERN EUROPE

In [ ]:
print(df.tail()) # show last 5 values

             Country                               Region
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

In [ ]:
print(df.shape)

(227, 2)

In [ ]:
df.head()             # First 5 rows
df.tail()             # Last 5 rows
df.info()             # Data types and non-null values
df.shape              # Rows x Columns
df.columns            # Column names
df.describe()         # Summary statistics for numerical columns
df.sample(5)          # Random 5 rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  227 non-null    object
 1   Region   227 non-null    object
dtypes: object(2)
memory usage: 3.7+ KB

         Country                               Region
13   Azerbaijan                  C.W. OF IND. STATES
74   Gaza Strip   NEAR EAST
11    Australia   OCEANIA
199  Tajikistan                  C.W. OF IND. STATES
128        Mali   SUB-SAHARAN AFRICA

In [ ]:
print(df.isnull().sum()) # to check missing data:

Country    0
Region     0
dtype: int64

In [ ]:
df[df['Region'].str.contains("ASIA", case=False)]

           Country                         Region
0     Afghanistan   ASIA (EX. NEAR EAST)
16     Bangladesh   ASIA (EX. NEAR EAST)
23         Bhutan   ASIA (EX. NEAR EAST)
29         Brunei   ASIA (EX. NEAR EAST)
32          Burma   ASIA (EX. NEAR EAST)
34       Cambodia   ASIA (EX. NEAR EAST)
42          China   ASIA (EX. NEAR EAST)
58     East Timor   ASIA (EX. NEAR EAST)
91      Hong Kong   ASIA (EX. NEAR EAST)
94          India   ASIA (EX. NEAR EAST)
95      Indonesia   ASIA (EX. NEAR EAST)
96           Iran   ASIA (EX. NEAR EAST)
103         Japan   ASIA (EX. NEAR EAST)
109  Korea, North   ASIA (EX. NEAR EAST)
110  Korea, South   ASIA (EX. NEAR EAST)
113          Laos   ASIA (EX. NEAR EAST)
122         Macau   ASIA (EX. NEAR EAST)
126      Malaysia   ASIA (EX. NEAR EAST)
127      Maldives   ASIA (EX. NEAR EAST)
139      Mongolia   ASIA (EX. NEAR EAST)
145         Nepal   ASIA (EX. NEAR EAST)
156      Pakistan   ASIA (EX. NEAR EAST)
162   Philippines   ASIA (EX. NEAR EAST)
184     Singapore   ASIA (EX. NEAR EAST)
191     Sri Lanka   ASIA (EX. NEAR EAST)
198        Taiwan   ASIA (EX. NEAR EAST)
201      Thailand   ASIA (EX. NEAR EAST)
219       Vietnam   ASIA (EX. NEAR EAST)

In [ ]:
df_excel = pd.read_excel("/content/sample_data/Pandas_series/world_population_excel_workbook.xlsx",sheet_name = None)
#print(df_excel.to_string(index = False))
print(df_excel.head(10))

AttributeError: 'dict' object has no attribute 'head'

In [ ]:
df_dict = pd.read_excel(
    "/content/sample_data/Pandas_series/world_population_excel_workbook.xlsx",
    sheet_name=None  # None = read all sheets
)

# Access each sheet:
for sheet, df in df_dict.items():
    print(f"Sheet name: {sheet}")
    print(df.head(3))

Sheet name: world_population
   Rank CCA3      Country  Capital Continent  2022 Population  \
0    36  AFG  Afghanistan    Kabul      Asia         41128771
1   138  ALB      Albania   Tirana    Europe          2842321
2    34  DZA      Algeria  Algiers    Africa         44903225

   2020 Population  2015 Population  2010 Population  2000 Population  \
0         38972230         33753499         28189672         19542982
1          2866849          2882481          2913399          3182021
2         43451666         39543154         35856344         30774621

   1990 Population  1980 Population  1970 Population  Area (km)  \
0         10694796         12486631         10752971       652230
1          3295066          2941651          2324731        28748
2         25518074         18739378         13795915      2381741

   Density (per km)  Growth Rate  World Population Percentage
0             63.0587       1.0257                         0.52
1             98.8702       0.9957                         0.04
2             18.8531       1.0164                         0.56
Sheet name: Sheet1
   Rank CCA3      Country  Capital
0    36  AFG  Afghanistan    Kabul
1   138  ALB      Albania   Tirana
2    34  DZA      Algeria  Algiers

In [ ]:
xls = pd.ExcelFile("/content/sample_data/Pandas_series/world_population_excel_workbook.xlsx")
print(xls.sheet_names)  # List all sheet names with correct casing

['world_population', 'Sheet1']

In [ ]:
import pandas as pd

data = {
    'Country': ['India', 'USA', 'India', 'China'],
    'Population': [1400, 330, 1400, 1440]
}
df = pd.DataFrame(data)
df

  Country  Population
0   India        1400
1     USA         330
2   India        1400
3   China        1440

In [ ]:
df['Country'].value_counts()

Country
India    2
USA      1
China    1
Name: count, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     4 non-null      object
 1   Population  4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 196.0+ bytes

In [ ]:
import pandas as pd

# From a list
s1 = pd.Series([10, 20, 30, 40])
print("Series from list:\n", s1)

# From a dictionary
s2 = pd.Series({'a': 100, 'b': 200, 'c': 300})
print("\nSeries from dictionary:\n", s2)

Series from list:
 0    10
1    20
2    30
3    40
dtype: int64

Series from dictionary:
 a    100
b    200
c    300
dtype: int64

Filter Function

In [ ]:
import pandas as pd
df = pd.read_csv('/content/sample_data/world_population.csv')
print(df)

     Rank CCA3            Country           Capital Continent  \
0      36  AFG        Afghanistan             Kabul      Asia
1     138  ALB            Albania            Tirana    Europe
2      34  DZA            Algeria           Algiers    Africa
3     213  ASM     American Samoa         Pago Pago   Oceania
4     203  AND            Andorra  Andorra la Vella    Europe
..    ...  ...                ...               ...       ...
229   226  WLF  Wallis and Futuna          Mata-Utu   Oceania
230   172  ESH     Western Sahara          El Aain    Africa
231    46  YEM              Yemen             Sanaa      Asia
232    63  ZMB             Zambia            Lusaka    Africa
233    74  ZWE           Zimbabwe            Harare    Africa

     2022 Population  2020 Population  2015 Population  2010 Population  \
0         41128771.0       38972230.0       33753499.0       28189672.0
1          2842321.0        2866849.0        2882481.0        2913399.0
2         44903225.0       43451666.0       39543154.0       35856344.0
3            44273.0          46189.0          51368.0          54849.0
4            79824.0          77700.0          71746.0          71519.0
..               ...              ...              ...              ...
229          11572.0          11655.0          12182.0          13142.0
230         575986.0         556048.0         491824.0         413296.0
231       33696614.0       32284046.0       28516545.0       24743946.0
232       20017675.0       18927715.0              NaN       13792086.0
233       16320537.0       15669666.0       14154937.0       12839771.0

     2000 Population  1990 Population  1980 Population  1970 Population  \
0         19542982.0       10694796.0       12486631.0       10752971.0
1          3182021.0        3295066.0        2941651.0        2324731.0
2         30774621.0       25518074.0       18739378.0       13795915.0
3            58230.0          47818.0          32886.0          27075.0
4            66097.0          53569.0          35611.0          19860.0
..               ...              ...              ...              ...
229          14723.0          13454.0          11315.0           9377.0
230         270375.0         178529.0         116775.0          76371.0
231       18628700.0       13375121.0        9204938.0        6843607.0
232        9891136.0        7686401.0        5720438.0        4281671.0
233       11834676.0       10113893.0        7049926.0        5202918.0

     Area (km)  Density (per km)  Growth Rate  World Population Percentage
0      652230.0            63.0587       1.0257                         0.52
1       28748.0            98.8702       0.9957                         0.04
2     2381741.0            18.8531       1.0164                         0.56
3         199.0           222.4774       0.9831                         0.00
4         468.0           170.5641       1.0100                         0.00
..          ...                ...          ...                          ...
229       142.0            81.4930       0.9953                         0.00
230    266000.0             2.1654       1.0184                         0.01
231    527968.0            63.8232       1.0217                         0.42
232    752612.0            26.5976       1.0280                         0.25
233    390757.0            41.7665       1.0204                         0.20

[234 rows x 17 columns]

In [ ]:
df[df['Rank'] > 100]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km),Density (per km),Growth Rate,World Population Percentage
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
6,224,AIA,Anguilla,The Valley,North America,15857.0,15585.0,14525.0,13172.0,11047.0,8316.0,6560.0,6283.0,91.0,174.2527,1.0066,0.00
7,201,ATG,Antigua and Barbuda,Saint Johns,North America,93763.0,92664.0,89941.0,85695.0,75055.0,63328.0,64888.0,64516.0,442.0,212.1335,1.0058,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,133,URY,Uruguay,Montevideo,South America,3422794.0,3429086.0,3402818.0,3352651.0,3292224.0,3117012.0,2953750.0,2790265.0,181034.0,18.9069,0.9990,0.04
225,181,VUT,Vanuatu,Port-Vila,Oceania,326740.0,311685.0,276438.0,245453.0,192074.0,150882.0,118156.0,87019.0,12189.0,26.8061,1.0238,0.00
226,234,VAT,Vatican City,Vatican City,Europe,510.0,520.0,564.0,596.0,651.0,700.0,733.0,752.0,1.0,510.0000,0.9980,0.00
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aain,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01

In [ ]:
df[df['Country'].isin(['Afghanistan', 'Albania', 'Zimbabwe'])]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km),Density (per km),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
233,74,ZWE,Zimbabwe,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20

In [ ]:
df2 = df.set_index('Country')

In [ ]:
df2.filter(items = ['Rank','Continent'])

                   Rank Continent
Country
Afghanistan          36      Asia
Albania             138    Europe
Algeria              34    Africa
American Samoa      213   Oceania
Andorra             203    Europe
...                 ...       ...
Wallis and Futuna   226   Oceania
Western Sahara      172    Africa
Yemen                46      Asia
Zambia               63    Africa
Zimbabwe             74    Africa

[234 rows x 2 columns]

In [ ]:
df2.filter(like = 'United', axis = 0)

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km),Density (per km),Growth Rate,World Population Percentage
Country,,,,,,,,,,,,,,,,
United Arab Emirates,97,ARE,Abu Dhabi,Asia,9441129.0,9287289.0,8916899.0,8481771.0,3275333.0,1900151.0,1014048.0,298084.0,83600.0,112.9322,1.0081,0.12
United Kingdom,21,GBR,London,Europe,67508936.0,67059474.0,65224364.0,62760039.0,58850043.0,57210442.0,56326328.0,55650166.0,242900.0,277.9289,1.0034,0.85
United States,3,USA,"Washington, D.C.",North America,338289857.0,335942003.0,324607776.0,311182845.0,282398554.0,248083732.0,223140018.0,200328340.0,9372610.0,36.0935,1.0038,4.24
United States Virgin Islands,200,VIR,Charlotte Amalie,North America,99465.0,100442.0,102803.0,106142.0,108185.0,100685.0,96640.0,63446.0,347.0,286.6427,0.9937,0.00

In [ ]:
df2.loc['United States']

Rank                                          3
CCA3                                        USA
Capital                        Washington, D.C.
Continent                         North America
2022 Population                     338289857.0
2020 Population                     335942003.0
2015 Population                     324607776.0
2010 Population                     311182845.0
2000 Population                     282398554.0
1990 Population                     248083732.0
1980 Population                     223140018.0
1970 Population                     200328340.0
Area (km)                            9372610.0
Density (per km)                       36.0935
Growth Rate                              1.0038
World Population Percentage                4.24
Name: United States, dtype: object

Filter by NOT in list (~isin)

In [ ]:
df[df['Country'] == 'India']

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km),Density (per km),Growth Rate,World Population Percentage
92,2,IND,India,New Delhi,Asia,1.417173e+09,1.396387e+09,1.322867e+09,1.240614e+09,1.059634e+09,NaN,NaN,557501301.0,3287590.0,431.0675,1.0068,17.77

In [ ]:
df[~df['Country'].isin(['India', 'Germany'])]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km),Density (per km),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aain,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20

In [ ]:
df[df['Country'].str.startswith('A')]
df[df['Country'].str.endswith('land')]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km),Density (per km),Growth Rate,World Population Percentage
67,118,FIN,Finland,Helsinki,Europe,5540745.0,5529468.0,5479461.0,5363271.0,5176209.0,4986545.0,4779418.0,4606621.0,338424.0,16.3722,1.0009,0.07
78,208,GRL,Greenland,Nuuk,North America,56466.0,56026.0,55895.0,56351.0,56184.0,55599.0,50106.0,45434.0,2166086.0,0.0261,1.0040,0.00
91,179,ISL,Iceland,Reykjavk,Europe,372899.0,366669.0,331060.0,318333.0,281462.0,NaN,NaN,204468.0,103000.0,3.6204,1.0069,0.00
96,125,IRL,Ireland,Dublin,Europe,5023109.0,4946119.0,4665760.0,4524585.0,3768950.0,3485374.0,3391387.0,2937637.0,70273.0,71.4799,1.0073,0.06
146,123,NZL,New Zealand,Wellington,Oceania,5185288.0,5061133.0,4590590.0,4346338.0,3855266.0,3397389.0,3147168.0,2824061.0,270467.0,19.1716,1.0108,0.07
164,37,POL,Poland,Warsaw,Europe,39857145.0,38428366.0,38553146.0,38597353.0,38504431.0,38064255.0,35521429.0,32482943.0,312679.0,127.4698,1.0404,0.50
201,101,CHE,Switzerland,Bern,Europe,8740472.0,8638613.0,8281732.0,7822435.0,7182059.0,6711693.0,6319113.0,6181227.0,41284.0,211.7157,1.0056,0.11
206,20,THA,Thailand,Bangkok,Asia,71697030.0,71475664.0,70294397.0,68270489.0,63066603.0,55228410.0,45737753.0,NaN,513120.0,139.7276,1.0013,0.90

In [ ]:
df[(df['Continent'] == 'Asia') & (df['2022 Population'] > 1000000)]
df[(df['Continent'] == 'Europe') | (df['Capital'] == 'Paris')]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km),Density (per km),Growth Rate,World Population Percentage
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
12,99,AUT,Austria,Vienna,Europe,8939617.0,8907777.0,8642421.0,8362829.0,8010428.0,7678729.0,7547561.0,7465301.0,83871.0,106.5877,1.0020,0.11
18,96,BLR,Belarus,Minsk,Europe,9534954.0,9633740.0,9700609.0,9731427.0,10256483.0,10428525.0,9817257.0,9170786.0,207600.0,45.9295,0.9955,0.12
19,81,BEL,Belgium,Brussels,Europe,11655930.0,11561717.0,11248303.0,10877947.0,10264343.0,9959560.0,9828986.0,9629376.0,30528.0,381.8111,1.0038,0.15
25,137,BIH,Bosnia and Herzegovina,Sarajevo,Europe,3233526.0,3318407.0,3524324.0,3811088.0,4179350.0,4494310.0,4199820.0,3815561.0,51209.0,63.1437,0.9886,0.04
30,108,BGR,Bulgaria,Sofia,Europe,6781953.0,6979175.0,7309253.0,7592273.0,8097691.0,8767778.0,8980606.0,8582950.0,110879.0,61.1654,0.9849,0.09
46,130,HRV,Croatia,Zagreb,Europe,4030358.0,4096868.0,4254815.0,4368682.0,4548434.0,4873707.0,4680144.0,4492638.0,56594.0,71.2153,0.9927,0.05
49,158,CYP,Cyprus,Nicosia,Europe,1251488.0,1237537.0,1187280.0,1129686.0,948237.0,788500.0,679327.0,640804.0,9251.0,135.2814,1.0059,0.02
50,88,CZE,Czech Republic,Prague,Europe,10493986.0,10530953.0,10523798.0,10464749.0,10234710.0,10301192.0,10270060.0,9795744.0,78865.0,133.0627,0.9984,0.13
51,115,DNK,Denmark,Copenhagen,Europe,5882261.0,5825641.0,5677796.0,5550849.0,5340655.0,5144623.0,5125392.0,4922963.0,43094.0,136.4984,1.0048,0.07
61,156,EST,Estonia,Tallinn,Europe,1326062.0,1329444.0,1314657.0,1331535.0,1396877.0,1570674.0,1476983.0,1361999.0,45227.0,29.3201,0.9980,0.02
65,209,FRO,Faroe Islands,Trshavn,Europe,53090.0,52415.0,48816.0,48410.0,45660.0,47479.0,43054.0,38416.0,1393.0,38.1120,1.0038,0.00
67,118,FIN,Finland,Helsinki,Europe,5540745.0,5529468.0,5479461.0,5363271.0,5176209.0,4986545.0,4779418.0,4606621.0,338424.0,16.3722,1.0009,0.07
68,23,FRA,France,Paris,Europe,64626628.0,64480053.0,63809769.0,62444567.0,58665453.0,56412897.0,53713830.0,50523586.0,551695.0,117.1419,1.0015,0.81
74,19,DEU,Germany,Berlin,Europe,83369843.0,83328988.0,82073226.0,81325090.0,81551677.0,79370196.0,77786703.0,78294583.0,357114.0,233.4544,0.9995,1.05
76,219,GIB,Gibraltar,Gibraltar,Europe,32649.0,32709.0,32520.0,31262.0,27741.0,27317.0,28734.0,26685.0,6.0,5441.5000,0.9994,0.00
77,90,GRC,Greece,Athens,Europe,10384971.0,10512232.0,10806641.0,11033783.0,11038109.0,10302255.0,9307148.0,8544873.0,131990.0,78.6800,0.9942,0.13
83,207,GGY,Guernsey,Saint Peter Port,Europe,63301.0,62794.0,61629.0,60782.0,59114.0,57727.0,52860.0,52656.0,78.0,811.5513,1.0037,0.00
90,94,HUN,Hungary,Budapest,Europe,9967308.0,9750573.0,9844246.0,9986825.0,10202055.0,NaN,NaN,10315366.0,93028.0,107.1431,1.0265,0.12
91,179,ISL,Iceland,Reykjavk,Europe,372899.0,366669.0,331060.0,318333.0,281462.0,NaN,NaN,204468.0,103000.0,3.6204,1.0069,0.00
96,125,IRL,Ireland,Dublin,Europe,5023109.0,4946119.0,4665760.0,4524585.0,3768950.0,3485374.0,3391387.0,2937637.0,70273.0,71.4799,1.0073,0.06
97,202,IMN,Isle of Man,Douglas,Europe,84519.0,84046.0,83593.0,83828.0,75562.0,68865.0,64022.0,55298.0,572.0,147.7605,1.0030,0.00
99,25,ITA,Italy,Rome,Europe,59037474.0,59500579.0,60232906.0,59822450.0,56966397.0,56756561.0,56329482.0,53324036.0,301336.0,195.9191,0.9966,0.74
103,195,JEY,Jersey,Saint Helier,Europe,110778.0,108319.0,100561.0,96151.0,86192.0,82874.0,75124.0,68347.0,116.0,954.9828,1.0106,0.00
111,151,LVA,Latvia,Riga,Europe,1850651.0,1897052.0,1991955.0,2101530.0,2392530.0,2689391.0,2572037.0,2397414.0,64559.0,28.6660,0.9876,0.02
116,216,LIE,Liechtenstein,Vaduz,Europe,39327.0,38756.0,37355.0,35926.0,33026.0,28765.0,25003.0,21089.0,160.0,245.7937,1.0074,0.00
117,141,LTU,Lithuania,Vilnius,Europe,2750055.0,2820267.0,2963765.0,3139019.0,3599637.0,3785847.0,3521206.0,3210147.0,65300.0,42.1142,0.9869,0.03
118,168,LUX,Luxembourg,Luxembourg,Europe,647599.0,630399.0,569408.0,507070.0,435628.0,381267.0,363741.0,339342.0,2586.0,250.4250,1.0129,0.01
125,173,MLT,Malta,Valletta,Europe,533286.0,515357.0,456579.0,418755.0,399212.0,365392.0,333587.0,315414.0,316.0,1687.6139,1.0124,0.01
133,135,MDA,Moldova,Chisinau,Europe,3272996.0,3084847.0,3277388.0,3678186.0,4251573.0,4480199.0,4103240.0,3711140.0,33846.0,96.7026,1.0691,0.04
134,217,MCO,Monaco,Monaco,Europe,36469.0,36922.0,36760.0,33178.0,32465.0,30329.0,27076.0,24270.0,2.0,18234.5000,0.9941,0.00
136,169,MNE,Montenegro,Podgorica,Europe,627082.0,629048.0,633966.0,631044.0,633324.0,621442.0,589324.0,530268.0,13812.0,45.4012,0.9988,0.01
144,71,NLD,Netherlands,Amsterdam,Europe,17564014.0,17434557.0,17041107.0,16617116.0,15899135.0,14944548.0,14130387.0,13037686.0,41850.0,419.6897,1.0036,0.22
152,150,MKD,North Macedonia,Skopje,Europe,2093599.0,2111072.0,2107962.0,2093828.0,2037936.0,2044174.0,1907023.0,1656783.0,25713.0,81.4218,0.9954,0.03
154,120,NOR,Norway,Oslo,Europe,NaN,5379839.0,NaN,4889741.0,4491202.0,4241636.0,4085776.0,3875546.0,323802.0,16.7828,1.0058,0.07
164,37,POL,Poland,Warsaw,Europe,39857145.0,38428366.0,38553146.0,38597353.0,38504431.0,38064255.0,35521429.0,32482943.0,312679.0,127.4698,1.0404,0.50
165,92,PRT,Portugal,Lisbon,Europe,10270865.0,10298192.0,10365435.0,10588401.0,10300626.0,10007346.0,9785252.0,8683631.0,92090.0,111.5307,0.9981,0.13
170,64,ROU,Romania,Bucharest,Europe,19659267.0,19442038.0,19906079.0,20335211.0,21919876.0,22836234.0,22125224.0,19922618.0,238391.0,82.4665,1.0171,0.25
171,9,RUS,Russia,Moscow,Europe,144713314.0,145617329.0,144668389.0,143242599.0,146844839.0,148005704.0,138257420.0,130093010.0,17098242.0,8.4636,0.9973,1.81
180,218,SMR,San Marino,San Marino,Europe,33660.0,34007.0,33570.0,31608.0,NaN,23132.0,21346.0,18169.0,61.0,551.8033,0.9975,0.00
184,105,SRB,Serbia,Belgrade,Europe,7221365.0,7358005.0,7519496.0,7653748.0,7935022.0,7987529.0,7777010.0,7193533.0,88361.0,81.7257,0.9897,0.09
189,116,SVK,Slovakia,Bratislava,Europe,5643453.0,5456681.0,5424444.0,5396424.0,5376690.0,5261305.0,4973883.0,4522867.0,49037.0,115.0856,1.0359,0.07
190,148,SVN,Slovenia,Ljubljana,Europe,2119844.0,2117641.0,2080862.0,2057286.0,1984339.0,1986024.0,1901570.0,1741286.0,20273.0,104.5649,1.0002,0.03
196,30,ESP,Spain,Madrid,Europe,47558630.0,47363807.0,46431342.0,46572772.0,40741651.0,38889889.0,37491666.0,33792617.0,505992.0,93.9909,1.0015,0.60
200,87,SWE,Sweden,Stockholm,Europe,10549347.0,10368969.0,9849349.0,9381729.0,8871043.0,8548406.0,8311763.0,8027702.0,450295.0,23.4276,1.0079,0.13
201,101,CHE,Switzerland,Bern,Europe,8740472.0,8638613.0,8281732.0,7822435.0,7182059.0,6711693.0,6319113.0,6181227.0,41284.0,211.7157,1.0056,0.11
218,38,UKR,Ukraine,Kiev,Europe,39701739.0,43909666.0,44982564.0,45683020.0,48879755.0,51589817.0,49973920.0,47279086.0,603500.0,65.7858,0.9120,0.50
220,21,GBR,United Kingdom,London,Europe,67508936.0,67059474.0,65224364.0,62760039.0,58850043.0,57210442.0,56326328.0,55650166.0,242900.0,277.9289,1.0034,0.85
226,234,VAT,Vatican City,Vatican City,Europe,510.0,520.0,564.0,596.0,651.0,700.0,733.0,752.0,1.0,510.0000,0.9980,0.00

Filter by Null/NotNull values

In [ ]:
df[df['Capital'].isnull()] #--- check  any null values in Capital Column
df[df['Capital'].notnull()] # check not null values

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km),Density (per km),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aain,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20

In [ ]:
df.query("Continent == 'Asia' and `2022 Population` > 1000000")

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km),Density (per km),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,4.112877e+07,3.897223e+07,3.375350e+07,2.818967e+07,1.954298e+07,1.069480e+07,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
9,140,ARM,Armenia,Yerevan,Asia,2.780469e+06,2.805608e+06,2.878595e+06,2.946293e+06,3.168523e+06,3.556539e+06,3135123.0,2534377.0,29743.0,93.4831,0.9962,0.03
13,91,AZE,Azerbaijan,Baku,Asia,1.035807e+07,NaN,9.863480e+06,9.237202e+06,8.190337e+06,7.427836e+06,6383060.0,5425317.0,86600.0,119.6082,1.0044,0.13
15,154,BHR,Bahrain,Manama,Asia,1.472233e+06,1.477469e+06,1.362142e+06,1.213645e+06,7.114420e+05,5.174180e+05,362595.0,222555.0,765.0,1924.4876,1.0061,0.02
16,8,BGD,Bangladesh,Dhaka,Asia,1.711864e+08,1.674210e+08,1.578300e+08,1.483911e+08,1.291933e+08,1.071477e+08,83929765.0,67541860.0,147570.0,1160.0350,1.0108,2.15
33,73,KHM,Cambodia,Phnom Penh,Asia,1.676784e+07,1.639686e+07,1.541752e+07,1.436353e+07,1.211884e+07,8.910808e+06,6198959.0,6708525.0,181035.0,92.6221,1.0108,0.21
41,1,CHN,China,Beijing,Asia,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,982372466.0,822534450.0,9706961.0,146.8933,1.0000,17.88
73,131,GEO,Georgia,Tbilisi,Asia,3.744385e+06,3.765912e+06,3.771132e+06,NaN,NaN,NaN,NaN,NaN,69700.0,53.7214,0.9964,0.05
89,104,HKG,Hong Kong,Hong Kong,Asia,7.488865e+06,7.500958e+06,7.399838e+06,7.132438e+06,6.731195e+06,5.838574e+06,4978544.0,3955072.0,1104.0,6783.3922,0.9992,0.09
92,2,IND,India,New Delhi,Asia,1.417173e+09,1.396387e+09,1.322867e+09,1.240614e+09,1.059634e+09,NaN,NaN,557501301.0,3287590.0,431.0675,1.0068,17.77
93,4,IDN,Indonesia,Jakarta,Asia,2.755013e+08,2.718580e+08,2.590920e+08,2.440162e+08,2.140724e+08,1.821599e+08,148177096.0,115228394.0,1904569.0,144.6529,1.0064,3.45
94,17,IRN,Iran,Tehran,Asia,8.855057e+07,8.729019e+07,8.179084e+07,7.537386e+07,6.554438e+07,5.579363e+07,38520664.0,28449705.0,1648195.0,53.7258,1.0071,1.11
95,35,IRQ,Iraq,Baghdad,Asia,4.449612e+07,4.255698e+07,3.775781e+07,3.126488e+07,2.462886e+07,1.765838e+07,13653369.0,9811347.0,438317.0,101.5158,1.0221,0.56
98,98,ISR,Israel,Jerusalem,Asia,9.038309e+06,8.757489e+06,8.007778e+06,7.328445e+06,6.116958e+06,4.803254e+06,3744608.0,2907307.0,20770.0,435.1617,1.0155,0.11
102,11,JPN,Japan,Tokyo,Asia,1.239517e+08,1.252448e+08,1.272509e+08,1.281054e+08,1.268039e+08,1.236863e+08,117624196.0,105416839.0,377930.0,327.9753,0.9947,1.55
104,83,JOR,Jordan,Amman,Asia,1.128587e+07,1.092872e+07,9.494246e+06,6.931258e+06,5.056174e+06,3.480587e+06,2216903.0,1557374.0,89342.0,126.3221,1.0123,0.14
105,66,KAZ,Kazakhstan,Nursultan,Asia,1.939800e+07,1.897924e+07,1.783591e+07,1.662784e+07,1.523625e+07,1.686656e+07,14172710.0,12265305.0,2724900.0,7.1188,1.0105,0.24
108,129,KWT,Kuwait,Kuwait City,Asia,4.268873e+06,4.360444e+06,3.908743e+06,2.943356e+06,1.934901e+06,1.674938e+06,1493870.0,802786.0,17818.0,239.5821,1.0044,0.05
109,110,KGZ,Kyrgyzstan,Bishkek,Asia,6.630623e+06,6.424874e+06,5.914980e+06,5.483774e+06,4.935182e+06,4.394734e+06,3691209.0,3016384.0,199951.0,33.1612,1.0158,0.08
110,103,LAO,Laos,Vientiane,Asia,7.529475e+06,7.319399e+06,6.787419e+06,6.323418e+06,5.430853e+06,4.314443e+06,3297519.0,2675283.0,236800.0,31.7968,1.0141,0.09
112,119,LBN,Lebanon,Beirut,Asia,5.489739e+06,5.662923e+06,6.398940e+06,4.995800e+06,4.320642e+06,3.593700e+06,2963702.0,2381791.0,10452.0,525.2334,0.9816,0.07
122,45,MYS,Malaysia,Kuala Lumpur,Asia,3.393822e+07,3.319999e+07,3.106883e+07,NaN,NaN,1.751705e+07,13215707.0,10306508.0,330803.0,102.5934,1.0109,0.43
135,134,MNG,Mongolia,Ulaanbaatar,Asia,3.398366e+06,3.294335e+06,2.964749e+06,2.702520e+06,2.450979e+06,2.161433e+06,1697780.0,1293880.0,1564110.0,2.1727,1.0151,0.04
140,26,MMR,Myanmar,Nay Pyi Taw,Asia,5.417931e+07,5.342320e+07,5.148395e+07,4.939099e+07,4.553833e+07,4.009955e+07,33465781.0,27284112.0,676578.0,80.0784,1.0071,0.68
143,49,NPL,Nepal,Kathmandu,Asia,3.054758e+07,2.934863e+07,2.761032e+07,2.716157e+07,2.455950e+07,1.961653e+07,15600442.0,12501285.0,147181.0,207.5511,1.0171,0.38
151,56,PRK,North Korea,Pyongyang,Asia,2.606942e+07,2.586747e+07,2.525802e+07,2.468644e+07,2.336706e+07,2.079952e+07,17973650.0,14996879.0,120538.0,216.2755,1.0038,0.33
155,127,OMN,Oman,Muscat,Asia,4.576298e+06,4.543399e+06,4.191776e+06,2.881914e+06,2.344253e+06,1.804524e+06,1017462.0,670693.0,309500.0,14.7861,1.0123,0.06
156,5,PAK,Pakistan,Islamabad,Asia,2.358249e+08,2.271967e+08,2.109693e+08,1.944545e+08,1.543699e+08,1.154141e+08,80624057.0,59290872.0,881912.0,267.4018,1.0191,2.96
158,122,PSE,Palestine,Ramallah,Asia,5.250072e+06,5.019401e+06,4.484614e+06,3.992278e+06,3.139954e+06,2.124609e+06,1453620.0,1118241.0,6220.0,844.0630,1.0227,0.07
163,13,PHL,Philippines,Manila,Asia,1.155590e+08,1.121910e+08,1.030314e+08,9.463670e+07,7.795822e+07,6.155890e+07,48419546.0,37435586.0,342353.0,337.5434,1.0147,1.45
167,143,QAT,Qatar,Doha,Asia,2.695122e+06,2.760385e+06,2.414573e+06,1.713504e+06,6.459370e+05,4.416750e+05,277450.0,118007.0,11586.0,232.6189,1.0026,0.03
182,41,SAU,Saudi Arabia,Riyadh,Asia,3.640882e+07,3.599711e+07,3.274985e+07,2.941193e+07,2.154739e+07,1.600476e+07,10171710.0,6106191.0,2149690.0,16.9368,1.0128,0.46
187,113,SGP,Singapore,Singapore,Asia,5.975689e+06,5.909869e+06,5.650018e+06,5.163590e+06,4.053602e+06,3.022209e+06,2400729.0,2061831.0,710.0,8416.4634,1.0058,0.07
194,29,KOR,South Korea,Seoul,Asia,5.181581e+07,5.184469e+07,5.099440e+07,4.881304e+07,4.678859e+07,4.412004e+07,38170501.0,32601143.0,100210.0,517.0722,0.9997,0.65
197,61,LKA,Sri Lanka,Colombo,Asia,2.183214e+07,2.171508e+07,2.133670e+07,2.066856e+07,1.877637e+07,1.720409e+07,14943645.0,12388769.0,65610.0,332.7563,1.0027,0.27
202,60,SYR,Syria,Damascus,Asia,2.212525e+07,2.077260e+07,1.920518e+07,2.233756e+07,1.630765e+07,1.240900e+07,8898954.0,6319199.0,185180.0,119.4797,1.0376,0.28
203,57,TWN,Taiwan,Taipei,Asia,2.389339e+07,2.382146e+07,2.351214e+07,2.308308e+07,2.219473e+07,2.058617e+07,18100281.0,14957870.0,36193.0,660.1662,1.0014,0.30
204,95,TJK,Tajikistan,Dushanbe,Asia,9.952787e+06,9.543207e+06,8.524063e+06,7.621779e+06,6.272998e+06,5.417860e+06,4045965.0,2993019.0,143100.0,69.5513,1.0208,0.12
206,20,THA,Thailand,Bangkok,Asia,7.169703e+07,7.147566e+07,7.029440e+07,6.827049e+07,6.306660e+07,5.522841e+07,45737753.0,NaN,513120.0,139.7276,1.0013,0.90
213,18,TUR,Turkey,Ankara,Asia,8.534124e+07,8.413543e+07,7.964618e+07,7.319534e+07,6.411355e+07,5.432414e+07,44089069.0,35540990.0,783562.0,108.9145,1.0067,1.07
214,111,TKM,Turkmenistan,Ashgabat,Asia,6.430770e+06,6.250438e+06,5.766431e+06,5.267970e+06,4.569132e+06,3.720278e+06,2862903.0,2201432.0,488100.0,13.1751,1.0140,0.08
219,97,ARE,United Arab Emirates,Abu Dhabi,Asia,9.441129e+06,9.287289e+06,8.916899e+06,8.481771e+06,3.275333e+06,1.900151e+06,1014048.0,298084.0,83600.0,112.9322,1.0081,0.12
224,43,UZB,Uzbekistan,Tashkent,Asia,3.462765e+07,3.352666e+07,3.094942e+07,2.861423e+07,2.492555e+07,2.057910e+07,15947129.0,12011361.0,447400.0,77.3975,1.0160,0.43
228,16,VNM,Vietnam,Hanoi,Asia,9.818686e+07,9.664868e+07,9.219140e+07,8.741101e+07,7.900114e+07,6.691261e+07,52968270.0,41928849.0,331212.0,296.4472,1.0074,1.23
231,46,YEM,Yemen,Sanaa,Asia,3.369661e+07,3.228405e+07,2.851654e+07,2.474395e+07,1.862870e+07,1.337512e+07,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42

sorting values

In [ ]:
df.sort_values(by = 'Country', ascending= False)

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km),Density (per km),Growth Rate,World Population Percentage
233,74,ZWE,Zimbabwe,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20
232,63,ZMB,Zambia,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
231,46,YEM,Yemen,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
230,172,ESH,Western Sahara,El Aain,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52

In [ ]:
list(df.columns)

['Rank',
 'CCA3',
 'Country',
 'Capital',
 'Continent',
 '2022 Population',
 '2020 Population',
 '2015 Population',
 '2010 Population',
 '2000 Population',
 '1990 Population',
 '1980 Population',
 '1970 Population',
 'Area (km)',
 'Density (per km)',
 'Growth Rate',
 'World Population Percentage']

In [ ]:
df.sort_values(by=['Continent', 'Country'], ascending=[True, False])

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km),Density (per km),Growth Rate,World Population Percentage
233,74,ZWE,Zimbabwe,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20
232,63,ZMB,Zambia,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
230,172,ESH,Western Sahara,El Aain,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
217,31,UGA,Uganda,Kampala,Africa,47249585.0,44404611.0,37477356.0,32341728.0,24020697.0,17586630.0,13284026.0,10317212.0,241550.0,195.6100,1.0304,0.59
212,79,TUN,Tunisia,Tunis,Africa,12356117.0,12161723.0,11557779.0,10895063.0,9893316.0,8440023.0,6578156.0,5047404.0,163610.0,75.5218,1.0076,0.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,28,COL,Colombia,Bogota,South America,51874024.0,50930662.0,47119728.0,NaN,39215135.0,32601393.0,26176195.0,20905254.0,1141748.0,45.4339,1.0069,0.65
40,65,CHL,Chile,Santiago,South America,19603733.0,19300315.0,17870124.0,17004162.0,15351799.0,13342868.0,11469828.0,9820481.0,756102.0,25.9274,1.0057,0.25
27,7,BRA,Brazil,Brasilia,South America,215313498.0,213196304.0,205188205.0,196353492.0,175873720.0,150706446.0,122288383.0,96369875.0,8515767.0,25.2841,1.0046,2.70
24,80,BOL,Bolivia,Sucre,South America,12224110.0,11936162.0,11090085.0,10223270.0,8592656.0,7096194.0,5736088.0,4585693.0,1098581.0,11.1272,1.0120,0.15
8,33,ARG,Argentina,Buenos Aires,South America,45510318.0,45036032.0,43257065.0,41100123.0,37070774.0,32637657.0,28024803.0,23842803.0,2780400.0,16.3683,1.0052,0.57

In [ ]:
df.isnull().values.any()

NameError: name 'df' is not defined

In [ ]:
df.isnull().sum() #Count NaNs column-wise

Rank                           0
CCA3                           0
Country                        0
Capital                        0
Continent                      0
2022 Population                4
2020 Population                1
2015 Population                4
2010 Population                7
2000 Population                7
1990 Population                5
1980 Population                5
1970 Population                4
Area (km)                     2
Density (per km)              4
Growth Rate                    2
World Population Percentage    0
dtype: int64

In [ ]:
df[df.isnull().any(axis=1)]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km),Density (per km),Growth Rate,World Population Percentage
13,91,AZE,Azerbaijan,Baku,Asia,1.035807e+07,NaN,9.863480e+06,9.237202e+06,8.190337e+06,7427836.0,6383060.0,5425317.0,86600.0,119.6082,1.0044,0.13
42,28,COL,Colombia,Bogota,South America,5.187402e+07,5.093066e+07,4.711973e+07,NaN,3.921514e+07,32601393.0,26176195.0,20905254.0,1141748.0,45.4339,1.0069,0.65
59,152,GNQ,Equatorial Guinea,Malabo,Africa,1.674908e+06,1.596049e+06,NaN,1.094524e+06,6.849770e+05,465549.0,282509.0,316955.0,28051.0,59.7094,1.0247,0.02
62,159,SWZ,Eswatini,Mbabane,Africa,NaN,1.180655e+06,1.133936e+06,1.099920e+06,1.030496e+06,854011.0,598564.0,442865.0,17364.0,69.2047,1.0079,0.02
72,142,GMB,Gambia,Banjul,Africa,2.705992e+06,2.573995e+06,2.253133e+06,NaN,NaN,NaN,NaN,NaN,10689.0,253.1567,1.0250,0.03
73,131,GEO,Georgia,Tbilisi,Asia,3.744385e+06,3.765912e+06,3.771132e+06,NaN,NaN,NaN,NaN,NaN,69700.0,53.7214,0.9964,0.05
90,94,HUN,Hungary,Budapest,Europe,9.967308e+06,9.750573e+06,9.844246e+06,9.986825e+06,1.020206e+07,NaN,NaN,10315366.0,93028.0,107.1431,1.0265,0.12
91,179,ISL,Iceland,Reykjavk,Europe,3.728990e+05,3.666690e+05,3.310600e+05,3.183330e+05,2.814620e+05,NaN,NaN,204468.0,103000.0,3.6204,1.0069,0.00
92,2,IND,India,New Delhi,Asia,1.417173e+09,1.396387e+09,1.322867e+09,1.240614e+09,1.059634e+09,NaN,NaN,557501301.0,3287590.0,431.0675,1.0068,17.77
100,52,CIV,Ivory Coast,Yamoussoukro,Africa,2.816054e+07,2.681179e+07,2.359674e+07,2.112004e+07,1.679967e+07,11910540.0,8303809.0,5477086.0,322463.0,NaN,NaN,0.35
101,139,JAM,Jamaica,Kingston,North America,2.827377e+06,2.820436e+06,2.794445e+06,2.733896e+06,2.612205e+06,2392030.0,2135546.0,1859091.0,10991.0,NaN,NaN,0.04
122,45,MYS,Malaysia,Kuala Lumpur,Asia,3.393822e+07,3.319999e+07,3.106883e+07,NaN,NaN,17517054.0,13215707.0,10306508.0,330803.0,102.5934,1.0109,0.43
123,174,MDV,Maldives,Mal,Asia,5.237870e+05,5.144380e+05,4.355820e+05,NaN,NaN,224957.0,164887.0,123243.0,300.0,1745.9567,1.0045,0.01
139,48,MOZ,Mozambique,Maputo,Africa,3.296952e+07,3.117824e+07,NaN,NaN,1.776850e+07,13303459.0,11413587.0,8411676.0,801590.0,41.1302,1.0278,0.41
154,120,NOR,Norway,Oslo,Europe,NaN,5.379839e+06,NaN,4.889741e+06,4.491202e+06,4241636.0,4085776.0,3875546.0,323802.0,16.7828,1.0058,0.07
157,222,PLW,Palau,Ngerulmud,Oceania,NaN,1.797200e+04,1.779400e+04,1.854000e+04,1.972600e+04,15293.0,12252.0,11366.0,459.0,39.3355,1.0017,0.00
180,218,SMR,San Marino,San Marino,Europe,3.366000e+04,3.400700e+04,3.357000e+04,3.160800e+04,NaN,23132.0,21346.0,18169.0,61.0,551.8033,0.9975,0.00
183,72,SEN,Senegal,Dakar,Africa,1.731645e+07,1.643612e+07,1.435618e+07,1.253012e+07,9.704287e+06,7536001.0,5703869.0,4367744.0,NaN,NaN,1.0261,0.22
192,70,SOM,Somalia,Mogadishu,Africa,1.759751e+07,1.653702e+07,1.376391e+07,1.202665e+07,8.721465e+06,6999096.0,5892224.0,NaN,637657.0,27.5971,1.0312,0.22
195,86,SSD,South Sudan,Juba,Africa,1.091316e+07,1.060623e+07,1.119430e+07,NaN,6.114440e+06,4750817.0,4192011.0,3342410.0,619745.0,17.6091,1.0153,0.14
206,20,THA,Thailand,Bangkok,Asia,7.169703e+07,7.147566e+07,7.029440e+07,6.827049e+07,6.306660e+07,55228410.0,45737753.0,NaN,513120.0,139.7276,1.0013,0.90
207,155,TLS,Timor-Leste,Dili,Asia,NaN,1.299995e+06,1.205813e+06,1.088486e+06,NaN,758106.0,642224.0,554021.0,14874.0,90.1772,1.0154,0.02
211,153,TTO,Trinidad and Tobago,Port-of-Spain,North America,1.531044e+06,1.518147e+06,1.460177e+06,1.410296e+06,1.332203e+06,1266518.0,1127852.0,988890.0,5130.0,NaN,1.0035,0.02
227,51,VEN,Venezuela,Caracas,South America,2.830170e+07,2.849045e+07,3.052972e+07,2.871502e+07,NaN,19750579.0,15210443.0,11355475.0,NaN,30.8820,1.0036,0.35
232,63,ZMB,Zambia,Lusaka,Africa,2.001768e+07,1.892772e+07,NaN,1.379209e+07,9.891136e+06,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25

group by and aggregating

In [ ]:
import pandas as pd
df = pd.read_csv('/content/sample_data/Flavors.csv')
print(df)

                   Flavor Base Flavor Liked  Flavor Rating  Texture Rating  \
0     Mint Chocolate Chip     Vanilla   Yes           10.0             8.0
1               Chocolate   Chocolate   Yes            8.8             7.6
2                 Vanilla     Vanilla    No            4.7             5.0
3            Cookie Dough     Vanilla   Yes            6.9             6.5
4              Rocky Road   Chocolate   Yes            8.2             7.0
5               Pistachio     Vanilla    No            2.3             3.4
6             Cake Batter     Vanilla   Yes            6.5             6.0
7              Neapolitan     Vanilla    No            3.8             5.0
8  Chocolte Fudge Brownie   Chocolate   Yes            8.2             7.1

   Total Rating
0          18.0
1          16.6
2           9.7
3          13.4
4          15.2
5           5.7
6          12.5
7           8.8
8          15.3

In [ ]:
df.groupby('Base Flavor').mean(numeric_only = True)

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [ ]:
df.groupby('Base Flavor').count()

             Flavor  Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate         3      3              3               3             3
Vanilla           6      6              6               6             6

In [ ]:
df.groupby('Base Flavor').agg({'Flavor Rating':['mean','max']})

            Flavor Rating
                     mean   max
Base Flavor
Chocolate             8.4   8.8
Vanilla               5.7  10.0

Merge, Join and concat

In [ ]:
import pandas as pd
df1 = pd.read_csv('/content/sample_data/LOTR.csv')
df1

   FellowshipID FirstName     Skills
0          1001     Frodo     Hiding
1          1002   Samwise  Gardening
2          1003   Gandalf     Spells
3          1004    Pippin  Fireworks

In [ ]:
df2 = pd.read_csv('/content/sample_data/LOTR 2.csv')
df2

   FellowshipID FirstName   Age
0          1001     Frodo    50
1          1002   Samwise    39
2          1006   Legolas  2931
3          1007    Elrond  6520
4          1008  Barromir    51

In [ ]:
print(df1.merge(df2, how='inner', on='FellowshipID').to_string(index=False))

 FellowshipID FirstName_x    Skills FirstName_y  Age
         1001       Frodo    Hiding       Frodo   50
         1002     Samwise Gardening     Samwise   39

In [ ]:
df1.merge(df2, how = 'left')

   FellowshipID FirstName     Skills   Age
0          1001     Frodo     Hiding  50.0
1          1002   Samwise  Gardening  39.0
2          1003   Gandalf     Spells   NaN
3          1004    Pippin  Fireworks   NaN

In [ ]:
pd.concat([df1,df2])

   FellowshipID FirstName     Skills     Age
0          1001     Frodo     Hiding     NaN
1          1002   Samwise  Gardening     NaN
2          1003   Gandalf     Spells     NaN
3          1004    Pippin  Fireworks     NaN
0          1001     Frodo        NaN    50.0
1          1002   Samwise        NaN    39.0
2          1006   Legolas        NaN  2931.0
3          1007    Elrond        NaN  6520.0
4          1008  Barromir        NaN    51.0